[mysqld]
log-bin=mysql-bin
server-id=1002

#忽略写入binlog日志的库
binlog-ignore-db = mysql,information_schema

# auto_increment_increment=n有多少台服务器，n就设置为多少
auto-increment-increment = 2

# auto_increment_offset设置步长,这里设置为2,这样Master的auto_increment字段产生的数值是:2,4,6，8 …等偶数ID
auto-increment-offset = 2

#忽略所有复制产生的错误
replica_skip_errors = all
# slave-skip-errors = all #slave-skip-errors将废弃