[mysqld]
log-bin=mysql-bin
server-id=1001
binlog-ignore-db = mysql,information_schema       #忽略写入binlog日志的库
auto-increment-increment = 2                      #字段变化增量值
auto-increment-offset = 1                         #初始字段ID为1
slave-skip-errors = all                           #忽略所有复制产生的错误     